@page
@model ProjectRon.Pages.SelectPrizeModel
@{
}

<form method="post" enctype="multipart/form-data" asp-action="SavePrize">
    <div class="form-group">
        <div class="col-md-10">
            <p>select one of these</p>
            <select asp-for="SelectedPrize" asp-items="Model.Options">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Select" />
        </div>
    </div>
</form>