@page
@model ProjectRon.Pages.TaskEntryModel
@{
}

<form method="post" enctype="multipart/form-data" asp-action="SavePrize">
    <div class="form-group">
        <div class="col-md-10">
            <input type="input" name="code" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Select" />
        </div>
    </div>
</form>