@page
@model ProjectRon.Pages.QRCodes.ReaderModel

@{
    ViewData["Title"] = "Reader";
}

<h1>Reader</h1>

@*<form enctype="multipart/form-data" method="post">
    <input id="qrcode" class="btn" type="file" value="Upload" accept=“image/*” capture />
    <input type="submit" value="Read" class="btn btn-primary" />
</form>*@

<form method="post" enctype="multipart/form-data" asp-action="DecodeFiles">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Decode" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <img src="" alt="" />
            <textarea id="TextAreaResult" rows="2" cols="20">@ViewData["TextAreaResult"]</textarea>
        </div>
    </div>
</form>